@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

$color: #262828;

body {
  color: $color;
}

// todo maybe change
.parent-card {
  float: none;
  margin: 0 auto;
}

.child-card-row {
  max-width: 1030px;
  float: none;
  margin: 0 auto;
}

.box {
  text-align: center;
  width: 220px;
  height: 260px;
  border-radius: 4px;
}

.row-box {
  background-color: white;
  margin: 25px 15px;
}

.box h3 {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
  color:#fff;
}
.box1{
  background-color: #EBA39E;
}
.shadow1, .shadow2, .shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
  position:relative;
}
.shadow1,.shadow2,.shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
/*****************************************************************dashed border
****************************************************************/


/****************************************************************
*styling shadows
****************************************************************/
.shadow1:before, .shadow1:after{
  position:absolute;
  content:"";
  bottom:12px;left:15px;top:80%;
  width:45%;
  background:#9B7468;
  z-index:-1;
  -webkit-box-shadow: 0 20px 15px #9B7468;
  -moz-box-shadow: 0 20px 15px #9B7468;
  box-shadow: 0 20px 15px #9B7468;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.shadow1:after{
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
  right: 15px;left: auto;
}
